* {
    font-family: 'Roboto', sans-serif;
}

/*Styling for the header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .links {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    align-items: center;
}

/*Styling for body1*/
.body1 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 75px 100px 75px 100px;
    align-items: center;
}

.text-content {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
}

.body1 .hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.body1 p {
    font-size: 18px;
    color: #e5e7eb;
}

.body1 button {
    background-color: #3882F6;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    color: #f9faf9;
    font-size: 18px;
    font-weight: bold;
}

/*body2 styling*/
.body2{
    display: flex;
    padding: 40px 100px 50px 100px;
    flex-direction: column;
    align-items: center;
}

.body2 > p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 25px 0px 25px;
    text-align: center;
}

.pic {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
}
